.App {
  text-align: center;
  border: 1px solid white;
  width: 60%;
  margin: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #7d818b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-1 {
  background-color: green;
  width: 120px;
  height: 50px;
  color: white;
  border: none;
}

.btn-2 {
  width: 150px;
  height: 50px;
  color: rgb(15, 14, 14);
  justify-content: space-around;
  font-size: 15px;
}
