.App {
  text-align: center;
  border: 1px solid white;
  width: 100%;
  height: 100%;
  margin: 20px;
}

.App-header {
  background-color: #8fc9de;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0d3041;
}

.btn-1 {
  background-color: green;
  width: 120px;
  border-radius: 8px;
  font-size: 25px;
  height: 50px;
  color: white;
  border: none;
}
.btn-1:disabled {
  background-color: rgb(141, 138, 138);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue {
  color: #42c2ff;
  background-color: #d2dadd;
}
.red {
  color: #f70b0b;
  background-color: #f3efef;
}
.green {
  color: #25e248;
  background-color: #e9efea;
}
.grey {
  color: #36393a;
  background-color: #d6dfe3;
}

.button {
  padding: 10px 25px;
  border: none;
  margin: 40px;
  font-size: 35px;
  background-color: white;
  border-radius: 10px;
}

.heading {
  color: #005792;
}

.Bro {
  border-style: solid;
  background-color: #f6f8f6;
}

.btn-3 {
  background-color: green;
  color: #fff;
  font-size: 25px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 25px;
  border-radius: 6px;
  border: none;
}
